In [2]:
grades = [[45,37,54],[62,58,59],[49,47,60],[78,83,62]]
print(grades)

[[45, 37, 54], [62, 58, 59], [49, 47, 60], [78, 83, 62]]

In [3]:
grades = [{"Ma":45,"En":37,"Fr":54},{"Ma":62,"En":58,"Fr":59},{"Ma":49,"En":47,"Fr":60}]

In [4]:
print(grades)

[{'Ma': 45, 'En': 37, 'Fr': 54}, {'Ma': 62, 'En': 58, 'Fr': 59}, {'Ma': 49, 'En': 47, 'Fr': 60}]

In [30]:
grades = {"Susan":{"Ma":45,"En":37,"Fr":54},"Peter":{"Ma":62,"En":58,"Fr":59},"Jack":{"Ma":49,"En":47,"Fr":60}}
print(grades["Peter"]["En"])

for i in grades:
    print(grades[i]["Ma"])

58
45
62
49

In [13]:
print(grades["Susan"]) #prints grades from row 1

{'Ma': 45, 'En': 37, 'Fr': 54}

In [15]:
grades["Susan"]["Ma"] = 100   #Change the value in the designated column
print(grades["Susan"]) #prints grades from row 1

{'Ma': 100, 'En': 37, 'Fr': 54}

In [16]:
print(grades["Susan"]["Ma"])

100

In [21]:
grades = [[45,37,54],[62,58,59],[49,47,60],[78,83,62]]

grades[1].append(100)  #adds a new value to the end of row 1
print(grades)

[[45, 37, 54], [62, 58, 59, 100], [49, 47, 60], [78, 83, 62]]

In [32]:
data = {"A":{"x":54,"y":82,"z":91},"B":{"x":75,"y":29,"z":80}}

In [25]:
print(data["A"])

{'x': 54, 'y': 82, 'z': 91}

In [26]:
print(data["B"]["y"])

29

In [27]:
for i in data:
    print(data[i]["y"])

82
29

In [34]:
data["B"]["y"] = 53  #Change data in "B", "y" to 53

In [37]:
grades["Jennifer"]={"Ma":49,"En":80} #adds another row of data to the dictionary
print(grades)

{'Susan': {'Ma': 45, 'En': 37, 'Fr': 54}, 'Peter': {'Ma': 62, 'En': 58, 'Fr': 59}, 'Jack': {'Ma': 49, 'En': 47, 'Fr': 60}, 'Jennifer': {'Ma': 49, 'En': 80}}

In [38]:
for name in grades:
    print((name),grades[name]["En"])
    
    #Displays only name and En grade for each students

Susan 37
Peter 58
Jack 47
Jennifer 80

In [39]:
del list[getRid]

NameError: name 'getRid' is not defined

In [6]:
twodist = [[2,5,8],[3,7,4],[1,6,9],[4,2,0]]

In [8]:
row = int(input('Please select a row'))
column = int(input('Please select a column'))
print(twodist[row][column])

Please select a row1
Please select a column1
7

In [10]:
row = int(input('Please select a row: '))
print(twodist[row])
new = int(input('Please enter a new value to the selected row: '))
twodist[row].append(new)
print(twodist[row])

Please select a row: 1
[3, 7, 4, 100]
Please enter a new value to the selected row: 9
[3, 7, 4, 100, 9]

In [15]:
row = int(input('Please select a row: '))
print(twodist[row])
col = int(input('Please select a column: '))
print(twodist[row][col])
change = input('do you want to change the value in the selected column? y/n ')
if change == 'y':
    newvalue = int(input('What value do you want to change to? '))
    twodist[row][col] = newvalue
    print(twodist[row])
else:
    print('confirmed')

Please select a row: 1
[3, 53, 4, 100, 9]
Please select a column: 0
3
do you want to change the value in the selected column? y/ny
What value do you want to change to? 66
[66, 53, 4, 100, 9]

In [18]:
sales = {"John":{"N":3056,"S":8463,"E":8441,"W":2694},"Tom":{"N":4832,"S":6786,"E":4737,"W":3612},"Anne":{"N":5239,"S":4832,"E":5820,"W":1859},"Fiona":{"N":3904,"S":3645,"E":8821,"W":2451}}

print(sales)

{'John': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anne': {'N': 5239, 'S': 4832, 'E': 5820, 'W': 1859}, 'Fiona': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

In [22]:
name = input("Please enter the sale's name: ")
region = input("Which region do you wish to see? ")

print(sales[name][region])

name = input("Please enter the sale's name: ")
region = input("Which region do you wish to change? ")
new = int(input("Please enter a new value: "))
sales[name][region] = new
print(name,"'s regional sales data: ",sales[name])

Please enter the sale's name: Tom
Which region do you wish to see? N
9949
Please enter the sale's name: Tom
Which region do you wish to change? N
Please enter a new value: 5575
Tom 's regional sales data:  {'N': 5575, 'S': 6786, 'E': 4737, 'W': 3612}

In [6]:
data = {}

for i in range(0,1):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe = float(input("Enter shoe size: "))
    data[name] ={"Age":age,"Shoe size":shoe}
    
ask = input("Enter name: ")
try:
    print(data[ask])
except:
    while True:
        if ask in data:
            print(data[ask])
            break
        else:
            ask = input('Wrong name!')

Enter name: Tom
Enter age: 1
Enter shoe size: 1
Enter name: ff
Wrong name!f
Wrong name!f
Wrong name!f
Wrong name!f
Wrong name!f
Wrong name!Tom
{'Age': 1, 'Shoe size': 1.0}

In [10]:
### pay attention to the last 2 line

data = {}

for i in range(0,1):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe = float(input("Enter shoe size: "))
    data[name] ={"Age":age,"Shoe size":shoe}

for name in data:
    print((name),data[name]["Age"])

Enter name: Tom
Enter age: 1
Enter shoe size: 1
Tom 1

In [14]:
data = {}

for i in range(0,3):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe = float(input("Enter shoe size: "))
    data[name] ={"Age":age,"Shoe size":shoe}
    
remove = input("Which name do you want to remove? ")
del data[remove]

for name in data:
    print((name),data[name]["Age"],data[name]["Shoe size"])

Enter name: Tom
Enter age: 1
Enter shoe size: 2
Enter name: Roy
Enter age: 3
Enter shoe size: 4
Enter name: Fin
Enter age: 5
Enter shoe size: 6
Which name do you want to remove? Tom
Roy 3 4.0
Fin 5 6.0